@model Ogretmen_Ozel.Models.User

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
</head>
<body>
    <div class=" mb-5">
        <h1 class="mb-5 text-primary fw-bold">Tekrar Hoşgeldiniz</h1>
        <div class="d-flex align-items-center justify-content-center border-1 p-3 bg-primary rounded bg-gradient text-light">
            <img class="p-5 signupimg" src="~/Content/photos/signup.png" alt="img" />
            @using (Html.BeginForm("LogIn", "Account", FormMethod.Post))
            {
                <div class="d-flex flex-column align-items-center justify-content-center p-2">

                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary border-0 bg-gradient" for="Email"><i class="bi bi-envelope-open-fill text-light"></i></span>
                        @Html.TextBoxFor(model => model.Email, new { @required = "required", type = "email", @class = "form-control", placeholder = "Email", id = "Email" })
                    </div>

                    <div class="m-2 input-group">
                        <span class="input-group-text bg-primary border-0 bg-gradient" for="Password"><i class="bi bi-key-fill text-light"></i></span>
                        @Html.TextBoxFor(model => model.Password, new { @required = "required", type = "password", @class = "form-control", placeholder = "Password", id = "Password" })
                    </div>
                    <input class="btn btn-light text-primary w-50 input_sginUp mt-2" type="submit" value="Gönder" />
                    <div class="link_to_login">Hesabım Yok? Giriş Yap @Html.ActionLink("Oğretmen", "SignUp_Teacher") & @Html.ActionLink("Öğrenci", "SignUp_Student")</div>
                </div>


            }

            <div>
                @if (ViewBag.resultT != null)
                {
                    <div>@ViewBag.resultT</div>
                }
            </div>


        </div>
    </div>
</body>
</html>
