@model Ogretmen_Ozel.Models.AccountModels.TeacherSignUp

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp_Teacher</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SignUp_Teacher", "Account"))
        {
            <div>
                <div>
                    Ad
                    @Html.TextBoxFor(model => model.User.Name)
                </div>
                <div>
                    SoyAd
                    @Html.TextBoxFor(model => model.User.LastName)
                </div>
                <div>
                    Email
                    @Html.TextBoxFor(model => model.User.Email)
                </div>
                <div>
                    Password
                    @Html.TextBoxFor(model => model.User.Password)
                </div>
                <div>
                    Numara
                    @Html.TextBoxFor(model => model.User.Phone)
                </div>
                <br />
            </div>
            <div>
                Ulke
                @Html.TextBoxFor(model => model.Address.Country)
            </div>
            <div>
                Sehir
                @Html.TextBoxFor(model => model.Address.City)
            </div>
            <div>
                Sokak
                @Html.TextBoxFor(model => model.Address.Street)
            </div>

            @Html.DropDownListFor(model => model.Id, (IEnumerable<SelectListItem>)ViewData["Subject"], "Select Subject", new { @class = "form-control" })




            <input type="submit" value="submit" />
        }
        <div>
            @if (ViewBag.result != null)
            {
                <div>@ViewBag.result</div>
            }
        </div>


    </div>
</body>
</html>
