@model Ogretmen_Ozel.Models.AccountModels.TeacherSignUp

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp_Teacher</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SignUp_Teacher", "Account", FormMethod.Post))
        {
            <div>
                <div>
                    @Html.TextBoxFor(model => model.User.Name)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.User.LastName)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.User.Email)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.User.Password)
                </div>
                <div>
                    @Html.TextBoxFor(model => model.User.Phone)
                </div>
                <br />
            </div>
            @Html.TextBoxFor(model => model.Address.Country)
            @Html.TextBoxFor(model => model.Address.City)
            @Html.TextBoxFor(model => model.Address.Street)

            @Html.DropDownListFor(model => model.Id, new SelectList(Model.Subject, "Id", "Id"), "Select Subject")




            <input type="submit" value="submit" />
        }

        <div>
            @if (ViewBag.result != null)
            {
                <div>@ViewBag.result</div>
            }
        </div>
    </div>
</body>
</html>
