@model Ogretmen_Ozel.Models.AccountModels.TeacherSignUp

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp_Teacher</title>
</head>
<body>
    <div class="d-flex flex-column justify-content-center mb-5">
            <h1 class="mb-5 text-primary fw-bold">Öğretmen olarak yeni bir hesap açın</h1>
        <div class="signup_container d-flex border-1 p-3 bg-primary rounded bg-gradient text-light">
            @using (Html.BeginForm("SignUp_Teacher", "Account",FormMethod.Post, new {@class="d-flex justify-content-center w-50"}))
            {
                <div class="row p-2 w-75">
                    @if (ViewBag.resultT != null)
                    {
                        <div class="alert alert-danger d-flex align-items-center">
                            <i class="bi bi-exclamation-triangle-fill text-danger pe-2"></i>
                            <div>
                                @ViewBag.resultT
                            </div>
                        </div>
                    }
                    <div class="m-2 col p-2">
                        @Html.TextBoxFor(model => model.User.Name, new { type = "text", @class = "form-control", placeholder = "Ad" })
                    </div>
                    <div class="m-2 col p-2 pe-0">
                        @Html.TextBoxFor(model => model.User.LastName, new { type = "text", @class = "form-control", placeholder = "SoyAd" })
                    </div>
                    <div class="m-2 row">
                        @Html.TextBoxFor(model => model.User.Email, new { type = "email", @class = "form-control", placeholder = "Email" })
                    </div>
                    <div class="m-2 row">
                        @Html.TextBoxFor(model => model.User.Password, new { type = "password", @class = "form-control", placeholder = "Password" })
                    </div>

                    <div class="m-2 row">
                        @Html.TextBoxFor(model => model.User.Phone, new { type = "text", @class = "form-control", placeholder = "Numara" })
                    </div>
                    <div class="m-2 col">
                        @Html.TextBoxFor(model => model.Address.Country, new { type = "text", @class = "form-control", placeholder = "Ülke" })
                    </div>
                    <div class="m-2 col pe-0">
                        @Html.TextBoxFor(model => model.Address.City, new { type = "text", @class = "form-control", placeholder = "Sehir" })
                    </div>
                    <div class="m-2 row">
                        @Html.TextBoxFor(model => model.Address.Street, new { type = "text", @class = "form-control", placeholder = "Sokak" })
                    </div>

                    <div class="col d-flex justify-content-between mt-2">
                        @Html.DropDownListFor(model => model.Id, (IEnumerable<SelectListItem>)ViewData["Subject"], "Dersi Seç", new { @class = "form-control text-secondary bg-gradient w-50 text-center ms-2" })

                        <input class="btn btn-light text-primary ms-3 input_sginUp" type="submit" value="Gönder" />
                    </div>
                    <div class="link_to_login row fw-lighter d-inline-block ms-2">Zaten bir hesabım var @Html.ActionLink("Giriş yap", "LogIn")</div>

                </div>


            }
        <img class="p-5 signupimg" src="~/Content/photos/signup.png" alt="img" />
        </div>
    </div>
</body>
</html>
