@model List<Ogretmen_Ozel.Models.Teacher>
@{
    ViewBag.Title = "TeachersPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
        var dropdownListItems = new List<SelectListItem>
        {
            new SelectListItem { Text = "Tüm Adresler" ,Value=""},
            new SelectListItem { Text = "Ülke", Value = "Country" },
            new SelectListItem { Text = "Şehir", Value = "City" },
            new SelectListItem { Text = "Sokak", Value = "Street" }
        };      
}

<div class="page-section pt-0 ">
    <div class="container">

        <hr />
            @using (Html.BeginForm("TeachersPage", "Home", FormMethod.Get, new { @class = "d-flex justify-content-start gap-2 ms-5" }))
            {

               <div>
            @Html.DropDownList("address", dropdownListItems, new { @class = " form-select" })
               </div>
               <div>
            @Html.DropDownList("id", (IEnumerable<SelectListItem>)ViewData["AllSubject"], "Dersi Seç", new { @class = "form-control text-secondary bg-gradient  ms-2" })
               </div>

                <input class="btn btn-primary ms-3" type="submit" value="Filtre" />

            }
    <div class="row my-5">
        @foreach (var t in Model)
        {
            if (t.Subject != null)
            {
                <div class="homeAnimation col-lg-4 py-3 hoverScale">
                    <div class="card-blog">
                        <a href="@Url.Action("TeacherProfile", "Profile",new { userId = t.User.Id })">
                            <div class="header">
                                <div class="post-thumb">
                                    @if (t.User.Image != null)
                                    {

                                        <img src="@t.User.Image" class="tpImg" alt="profile img">

                                    }
                                    else
                                    {
                                        <img src="" alt="">
                                    }

                                 
                                </div>
                            </div>
                            <div class="body">
                                <div class="post-title">
                                    <h5>@t.User.Name @t.User.LastName <span class="post-date badge bg-primary">@t.Subject.SubjectName</span></h5>

                                </div>


                                <div class="post-date badge bg-secondary">@t.User.Address.Country</div>
                                <span class="post-date badge bg-secondary">@t.User.Address.City</span>

                            </div>
                        </a>
                    </div>
                </div>

            }

        }
    </div>

    </div>
</div>

