@model List<Ogretmen_Ozel.Models.Teacher>
@{
    ViewBag.Title = "TeachersPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var dropdownListItems = new List<SelectListItem>
{
        new SelectListItem { Text = "-- Filtre --" },
        new SelectListItem { Text = "Ülke",  Value = "Country" },
        new SelectListItem { Text = "Şehir", Value = "City" },
        new SelectListItem { Text = "Sokak", Value = "Street" }
    };
}
<head>

</head>
<h2>TeachersPage</h2>


<div class="page-section pt-0">
    <div class="container">

        <hr />
        @using (Html.BeginForm("TeachersPage", "Home",FormMethod.Get, new {@class="d-flex"})) {
        @Html.DropDownList("address", dropdownListItems, new { @class = " form-select" })
        <input class="btn btn-primary ms-3" type="submit" value="Filtre" />
        }
            <div class="row my-5">
        @foreach (var t in Model)
        {
                <div class="col-lg-4 py-3">
                    <div class="card-blog">
                        <div class="header">
                            <div class="post-thumb">
                                <img src="../assets/img/blog/blog-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="body">
                            <h5 class="post-title">
                                @Html.ActionLink(t.User.Name +" "+ t.User.LastName, "Profile", "Profile", new { userid = t.Id },null)
                                <span class="post-date badge bg-primary">@t.Subject.SubjectName</span>
                            </h5>

                            
                            <div class="post-date badge bg-secondary">@t.User.Address.Country</div>
                            <span class="post-date badge bg-secondary">@t.User.Address.City</span>

                        </div>
                    </div>
                </div>
        }
            </div>

    </div>
</div>

