@model Ogretmen_Ozel.Models.Teacher
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<main class="d-flex flex-lg-row align-items-start  justify-content-lg-between flex-column">


    <div class="profile card p-0">
        <i class="bi bi-person-circle profileImageL"></i>
    <div class="profilehead container-fluid">
    </div>
        <div class="ps-4">
            
           <h1 class="mb-0">@Model.User.Name</h1>
           <p class="text-secondary">@Model.Subject.SubjectName</p>
           <p>@Model.Subject.SubjectDescription</p>

           <div class="mb-3 d-flex">
               <div class="input-group flex-nowrap mb-1">
                   <span class="input-group-text bg-primary text-light" id="addon-wrapping">Ülke</span>
                   @Html.TextBox("Ülke", @Model.User.Address.Country, new { @class = "Profile_input w-50 p-1 bg-primary-subtle" })
               </div>
               <div class="input-group flex-nowrap mb-1">
                   <span class="input-group-text bg-primary text-light" id="addon-wrapping">Şehri</span>
                   @Html.TextBox("Şehri", @Model.User.Address.City, new { @class = "Profile_input w-50 p-1" })
               </div>
               <div class="input-group flex-nowrap mb-1">
                   <span class="input-group-text bg-primary text-light" id="addon-wrapping">Sokak</span>
                   @Html.TextBox("Sokak", Model.User.Address.Street, new { @class = "Profile_input w-50 p-1" })
               </div>

           </div>
        </div>
    </div>

        <div class="res-box card-pricing bg-primary text-white w-100">
            <h5 class="pb-2">Rezervasyon</h5>
            <div>
                <div class="res-boxs mb-2 card text-dark p-2">
                    <p>Lesson name  | <span>Date 12-2-2001</span> | <span>Time 10:30</span></p>
                    <p>Student Name: Husam...</p>
                    <p>Address: Bartin kyk...</p>
                </div>
                <div class="res-boxs mb-2 card text-dark p-2">
                    <p>Lesson name  | <span>Date</span> | <span>Time</span></p>
                    <p>Student Name: Husam...</p>
                    <p>Address: Bartin kyk...</p>
                </div>
                <div class="res-boxs mb-2 card text-dark p-2">
                    <p>Lesson name  | <span>Date</span> | <span>Time</span></p>
                    <p>Student Name: Husam...</p>
                    <p>Address: Bartin kyk...</p>
                </div>
            </div>

        </div>

</main>

